In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

data_chennai = pd.read_csv("Data_Chennai.csv")

In [18]:
data_chennai.head()

,Unnamed: 0,Unnamed: 0.1,distress_name,distress_address,distress_contact_no,police_station_id,city_zone_id,event_maintype_id,event_subtype_id,priority_id,...,city_id,sdo_id,town_id,range_id,is_same_name,is_same_contact_no,area_location_id,submit_to_ps_status,state_zone_id,ward_number
0,0,1,RAGUL,"BV COLONY, 31th STREET, NEAR AMBEDKAR COLLEG...",8.248148e+09,1214.0,3.0,270.0,286.0,2,...,32.0,207.0,NaN,12.0,0,0,-1.0,1.0,5.0,131
1,4,5,JAMROOD MOHAMED,THAMBU CHETTY STREET PARRYS CHENNAI LAND MARK:...,4.442015e+09,1197.0,2.0,245.0,181.0,2,...,32.0,202.0,NaN,12.0,0,0,NaN,1.0,5.0,157
2,5,6,NOT WILLING,LANDMARK RAIN TREE HOTEL MOUNT ROAD ANNA SALA...,9.790978e+09,1269.0,4.0,245.0,481.0,2,...,32.0,229.0,-1.0,12.0,0,0,-1.0,1.0,5.0,20
3,8,9,NaN,"SALIGARMAM,, GANDHI NAGAR, CANARA BANK COLONY...",9.965430e+09,1494.0,6.0,229.0,375.0,2,...,32.0,NaN,24913.0,12.0,0,0,NaN,1.0,5.0,32
4,10,11,MANIVANNAN,BHARATHIDHASAN EAST STREET CAUVERY NAGAR LM:M...,7.449057e+09,1251.0,4.0,245.0,195.0,2,...,32.0,222.0,-1.0,12.0,0,0,-1.0,1.0,5.0,47

In [181]:
x = data_chennai["event_maintype_id"].value_counts()
pd.set_option('display.max_rows', 1000)

In [283]:
import os
from shapely.geometry import MultiPoint
eps = 0.005

nodes = []
ward = []
median = []
for i in os.listdir("Ward_info"):
    a = []
    for n in i[4:]:
    
        if (n == "_"):
            break
        a.append(n)
        
    b = ''.join(map(str, a))
    ward.append(int(b))
    b = pd.read_excel("Ward_info/" + i)
    
    node = []
    for i in range(b.shape[0]):
        lat = b.iloc[i,2]
        lon = b.iloc[i,3]
        node.append([lat,lon])    
    boundary = Polygon(node)
    fx = boundary.buffer(eps, 1, join_style=JOIN_STYLE.mitre).buffer(-eps, 1, join_style=JOIN_STYLE.mitre)
    nodes.append(boundary)
    median.append(boundary.centroid)

In [257]:
from shapely.geometry.polygon import Polygon
from shapely.geometry import shape, JOIN_STYLE

nodes = []
b = pd.read_excel("Ward_info/" + "ward60_boundarynodes.xlsx")
for i in range(b.shape[0]):
    lat = b.iloc[i,2]
    lon = b.iloc[i,3]
    
    nodes.append((lat,lon))
    
points = Polygon(nodes)
eps = 0.005
fx = points.buffer(eps, 1, join_style=JOIN_STYLE.mitre).buffer(-eps, 1, join_style=JOIN_STYLE.mitre)
    
print(points.centroid)
points.area
points

POINT (13.08345410794673 80.28919994760835)

In [203]:
from shapely.geometry import MultiPoint, Point

a = Point([13.09374303,80.2886835])
print(points.centroid)
points.contains(points.centroid)

POINT (13.16142539355097 80.21324442066712)

False

In [282]:
data_chennai = pd.read_csv("Data_Chennai.csv")

In [208]:
sample = data_chennai.iloc[0:15,:]

In [287]:
lat = data_chennai["latitude"]
lon = data_chennai["longitude"]

In [292]:
ward_number = []
ward_lat_med = []
ward_lon_med = []


for i in range(0,data_chennai.shape[0]):
    pair = Point([lat[i],lon[i]])
    for a in range(0,len(ward)):
        if(nodes[a].contains(pair)):
            ward_number.append(ward[a])
            ward_lat_med.append(list(median[a].coords)[0][0])
            ward_lon_med.append(list(median[a].coords)[0][1])
            break

In [293]:
data_chennai["ward_number"] = ward_number
data_chennai["ward_lat"] = ward_lat_med
data_chennai["ward_lon"] = ward_lon_med

In [291]:
len(data_chennai)

94567